services:
  getgrassbot:
    build: .
    hostname: ''
    restart: unless-stopped
    deploy:
      mode: replicated
      replicas: 1
    environment:
      USER_ID: ''
      PROXY_HOST: ''
      PROXY_USERNAME: ''
      PROXY_PASSWORD: ''
      PROXY_PORT: ''
      TOKEN: ''
      TELEGRAM_BOT_TOKEN: ''
      TELEGRAM_CHAT_ID: ''
      TELEGRAM_TOPIC_ID: ''
      TELEGRAM_ERROR_BOT_TOKEN: ''
      TELEGRAM_ERROR_CHAT_ID: ''
      TELEGRAM_ERROR_TOPIC_ID: ''